table {
  margin: 1%;
  border-collapse: collapse;
}

table th {
  border-bottom: 2px solid #e3e2de; 
  text-align: left;
  padding: 10px;
}

tr {
  border-bottom: 1px solid #e3e2de; 
  padding: 10px;
}

td {
  padding: 10px;
}