.c-step-tracker {
    list-style-type: none;
    display: flex;
    padding-left: 0;
}


.c-step-tracker__item {
    padding: 10px;
}

.c-step-tracker__item--completed {
    color: green;
}

.c-step-tracker__item--incomplete {
    color: red;
}