.c-case-details {
    display: flex;
    align-items: center;
}

.new-button {
    border-radius: 5px;
    background-color: #F4007E;
    color: #FFF;
    border: #F4007E;
    padding: 10px;
}

.c-case-details .header{
    font-weight: bold;
    margin-right: 1%;
}

.spacer {
    margin-right: 10%;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
