.c-step-tracker {
    list-style-type: none;
    display: flex;
    padding-left: 0;
}

.c-step-tracker__item {
    padding: 10px;
    color: #8FA8AF;
    background-color: #eeeeee;
}

.c-step-tracker__item--completed {
    background-color: #e3e2de;
}

.c-step-tracker__item--incomplete {
    background-color: #FFCC00;
}