<mat-card>
  <mat-card-content>
    <mat-tab-group class="demo-tab-group">
      <mat-tab label="Documents">
        <div class="demo-tab-content">
          Documents
        </div>
      </mat-tab>
      <mat-tab label="Case Info">
        <div class="demo-tab-content">
          Case Info
        </div>  
      </mat-tab>
      <mat-tab label="Notes">
        <notes-view></notes-view> 
      </mat-tab>
      <mat-tab label="Activity">
        <activity-table></activity-table>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>