.c-nav {
    list-style: none;
    display: flex;
    background-color: #f2f2f2;
    border-bottom: 1px solid #e3e2de;
    margin-top: 0;
}

.c-nav__item {
    display: inline-block;
    padding: 10px;
    border-right: 1px solid #e3e2de;
    flex-grow: 0;
    flex-basis: 25%;
    text-align: center;
}

.c-nav__item--selected {
    background-color: #e3e2de;
    border-bottom-color: #e3e2de;
}

.c-nav__item--primary {
    background-color: #eeeeee;
}

  