.note {
    border: 1px solid #6D6F71;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    padding: 2%;
    margin: 2%;
}

.note-header {
    border-bottom: 1px solid #6D6F71;
    padding-bottom: 5px;
}

.flex-container {
    display: flex;
}

.date {
    margin-right: 10%;
}