summary {
    background-color: #39b3dc; 
    padding: 10px;
}

details {
    margin: 2%;
    border: 1px solid #e3e2de;
}

.important { 
    background-color: red;
}

p {
    margin-left: 10px;
}

.flex-container {
    display: flex;
}

.date {
    margin-right: 10%;
}