summary {
    background-color: #e3e2de; 
    padding: 10px;
}

details {
    margin: 2%;
    border: 1px solid #e3e2de;
}

.important { 
    color: red;
    float: right;
}

.important:after { content:" ! "; }

p {
    margin-left: 10px;
}

.flex-container {
    display: flex;
}

.date {
    margin-right: 10%;
}